.list-view {
  border: 1px solid #ccccd5;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;

  &:hover {
    background-color: #f9f9fa;
  }

  &.workflow-template-card-view,
  &.workflow-in-progress-card-view,
  &.method-card-view {
    cursor: unset;

    &:hover {
      background-color: unset;
    }
  }

  &.workflow-card-view {
    position: relative;

    .workflow-card-view--attachment {
      position: absolute;
      bottom: 0.8rem;
      right: 0.4rem;
    }
  }
}

.method-card-view-btn {
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
}
.group-card {
  position: relative;
  border-radius: 0.8rem;
  border: 1px solid #ccccd5;
  overflow: hidden;
  &-item {
    padding: 1.6rem;
    &:hover {
      cursor: pointer;
      background-color: #f9f9fa;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ccccd5;
    }
  }
}

.group-control {
  display: flex;
  align-items: center;
  &-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 2.4rem;
    }
    .dls-radio-label {
      margin-bottom: 0;
      cursor: pointer;
    }
    .custom-control {
      padding-left: 0;
      margin-right: 0.8rem;
    }
    .custom-control-input {
      top: 0;
    }
    .custom-control-label {
      width: 2.4rem;
      height: 2.4rem;
      padding: 0.2rem;
      &::before,
      &:after {
        top: 0.2rem !important;
        left: 0.2rem;
      }
    }
  }
}

.box {
  position: relative;
  border-radius: 0.8rem;
  border: 1px solid #e3e3e8;
  overflow: hidden;
  padding: 1.6rem;
}

.custom-control-root {
  &:hover {
    .custom-control-label::before {
      border-color: #1f84f4;
      box-shadow: 0 0 0 1px #1f84f4;
    }
  }
  .custom-control {
    &-label {
      &::before {
        box-shadow: 0 0 0 1px #ccccd5;
      }
    }
    &-input {
      &:checked ~ .custom-control-label::before {
        box-shadow: 0 0 0 1px #1f84f4;
      }
      &:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 1px #0a66cc;
      }
    }
  }
}
.custom-control-default-hover {
  &:hover {
    .custom-control-label::before {
      border-color: #1f84f4;
    }
  }
}
