html,
body,
#root {
  height: 100%;
}

li::marker {
  font-size: 1.2rem;
}
.infobar-nav-item.css-tooltip-wrapper {
  display: none;
}

@media (max-width: 1025px) {
  .only-pc {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .box-list-view {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .box-list-view .col-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

.icon-simple-search {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-right: -4px;

  order: 1;
}

.icon-simple-search .icon {
  font-size: 18px;
  cursor: pointer;
  margin-top: -3px;
  vertical-align: middle;
}

.icon-simple-search .icon:hover {
  color: #1f84f4;
}

.dls-focused .icon-simple-search .icon {
  color: #1f84f4;
}

.size-custom {
  &.dls-popover-container {
    width: 320px;
    max-width: 320px;
  }
  &[data-popper-placement='bottom'] {
    margin-top: 4px !important;
  }
}

.search-field-item {
  li {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: #666;
      border-radius: 50%;
      margin-right: 16px;
    }
  }
}

.list-dot {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    position: relative;
    padding-left: 1.2rem;
    margin-top: 0.8rem;
    &::before {
      content: '';
      position: absolute;
      top: 0.8rem;
      left: 0;
      width: 0.4rem;
      height: 0.4rem;
      background-color: #666;
      border-radius: 50%;
      display: block;
    }
    &.list-dot-children::before {
      display: none;
    }
  }
}

.masonry-column {
  display: block;
  column-count: 2;
  column-gap: 0;
  column-fill: auto;
}

.masonry-item {
  display: inline-block;
  width: 100% !important;
  max-width: 100% !important;
}

.flyout {
  &-head {
    display: flex;
    flex-direction: column;
    &.sticky {
      z-index: 999;
      &.has-scroll {
        &::after {
          content: '';
          position: absolute;
          bottom: -24px;
          height: 4px;
          width: 100%;
          background: transparent;
          margin: 0 -24px;
          box-shadow: 0 2px 4px 0 rgba(55, 58, 72, 0.12);
        }
      }
    }
  }
  &-body {
    .sticky {
      top: 120px;
      z-index: 998;
    }
  }
}

.notification-item {
  margin: 0 -2.4rem;
  padding: 1.6rem 2.4rem;
  cursor: pointer;

  .last-item > & {
    padding-bottom: 2.4rem;
  }

  &:hover {
    background-color: var(--blue-l40);
  }

  &.unread {
    .notification-item-title {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: 7px;
        left: -12px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #f72d1d;
      }
    }
  }
}

.text-decoration-underline-dotted {
  text-decoration-style: dotted;
  text-decoration-line: underline;
}

.workflows-sidebar {
  min-width: 240px;
}

.pricing-method-detail {
  height: calc(100vh - 368px);
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 1279px) {
  .order-item-last {
    order: 1;
  }
}

.info-bar-main {
  max-height: calc(100vh - 6.8rem);
  height: 100%;

  > .full-loading.loading::after {
    z-index: 100;
  }

  .content-h-100 {
    .simplebar-content {
      height: 100%;
    }
  }
}

.approval-change {
  .list {
    display: flex;
    flex-direction: column;
    &-item {
      position: relative;
      margin-bottom: 16px;
      padding-left: 24px;
      &::before {
        content: '';
        width: 12px;
        height: 12px;
        border: 1px solid var(--light);
        background-color: var(--light-l20);
        position: absolute;
        top: 4px;
        left: 0;
        border-radius: 50%;
      }
      &.success::before {
        border-color: var(--green-l24);
        background-color: var(--green-l40);
      }
      &.danger::before {
        border-color: var(--red-l24);
        background-color: var(--red-l40);
      }
      &.warning::before {
        border-color: var(--orange-l24);
        background-color: var(--orange-l40);
      }
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 17px;
        left: 5.5px;
        width: 1px;
        height: calc(100% + 2px);
        background-color: var(--light);
      }
    }
  }
  .nav {
    &-item {
      display: flex;
      align-items: center;
      flex: 1 1 50%;
      margin-bottom: 8px;
    }
  }
  .rounded-md {
    border-radius: 8px;
  }
}

.change-type-card {
  text-align: right;

  @media (min-width: 1280px) {
    top: 1.2rem;
    position: relative;
  }
}

.change-card-expand {
  position: absolute;
  left: 2.4rem;
  top: 1.2rem;

  .change-card-expand-btn {
    width: 2rem;
    height: 2rem;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #eeeef1 !important;
    }
  }
}

.workflow-card-expand {
  position: absolute;
  left: 1.6rem;
  top: 1rem;
  @media (min-width: 1280px) {
    top: 1.2rem;
  }
}

.workflow-in-progress-card-view-header--small ~ .workflow-card-expand {
  top: 1.1rem;
}

.method-card-expand {
  position: absolute;
  left: 2.8rem;
  top: 1.3rem;
  width: 2rem;
  height: 2rem;

  .dls-popper-trigger {
    width: 2rem;
    height: 2rem;
  }

  .method-card-expand-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.2rem !important;

    &:hover {
      background-color: #eeeef1 !important;
    }
  }
}

.strategy-card-expand {
  position: absolute;
  top: 1.2rem;

  .strategy-card-expand-btn {
    width: 2rem;
    height: 2rem;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #eeeef1 !important;
    }
  }
}

.select-version-radio {
  position: absolute;
  top: 1.2rem;
  left: 1.8rem;
}

.rcc-btn {
  cursor: pointer;
  height: 5.6rem;
  &:hover {
    background-color: var(--light-l20);
  }
}

.bg-checkbox-hover-light-l20:hover {
  background-color: #f9f9fa !important;

  &:not(.cursor-default) {
    cursor: pointer !important;
  }
}
.bg-checkbox-hover:hover {
  &:not(.cursor-default) {
    cursor: pointer !important;
  }
}

.method-list-simple-search .dls-text-box {
  width: 360px !important;
}

.workflows-sidebar .workflow-menu-item .btn.btn-outline-primary:hover {
  background-color: #eeeef1 !important;
}

.arrow {
  flex: 1 1 auto;
  display: block;
  overflow: hidden;
  position: relative;
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
  }
  .icon {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
  }
  &.arrow-increase {
    &:hover {
      .icon {
        color: #1f84f4;
      }
    }
    .icon {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      bottom: 0;
    }
  }

  &.arrow-decrease {
    &:hover {
      .icon {
        color: #1f84f4;
      }
    }
    .icon {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      top: 0px;
    }
  }
}

.ws-nowrap {
  white-space: nowrap;
}

.custom-dls {
  .list-file {
    margin-top: 0px;
  }
  .action-upload {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .file-name {
    font-size: 1.2rem;
    color: #666666;
  }
  &.view .file-size .dls-popper-trigger.delete-file-btn,
  &.uploaded .action-upload,
  .action-upload::before {
    display: none;
  }
}

.text-white-space-pre-line {
  white-space: pre-line !important;
}

.combobox-load-more .end-group {
  display: none !important;
}

.dls-grid-body tr {
  .dls-grid-expand-row .dls-grid-expand-row {
    background: #e3e3e8;
  }
}

th.grid-checkbox-check-all .dls-checkbox .dls-checkbox-label::after {
  content: '\e93e' !important;
}

th.grid-checkbox-indeterminate .dls-checkbox .dls-checkbox-label::after {
  content: '\e923' !important;
}

th.grid-checkbox-no-check .dls-checkbox .dls-checkbox-label::after {
  content: '' !important;
}

th.grid-checkbox-no-check
  .dls-checkbox
  .dls-checkbox-input
  ~ .dls-checkbox-label::before {
  background-color: #fff !important;
  border-color: #ccccd5 !important;
}

.modal-open {
  .dls-modal-root.modal-full.modal
    ~ .dls-popover-container.simple-search-popover {
    z-index: 350;
  }
}

.add-update-index-rate-modal {
  margin: 7.4rem auto;
}

.sentitive-data-input .eye-icon:hover {
  color: #4699f6;
}

.condition {
  &-item {
    display: flex;
    margin-top: 1.6rem;
    &-group {
      .condition-item:first-child {
        margin-top: 0;
      }
    }
  }
}

.list-style-disc {
  list-style: disc;
}

.custom-tooltip {
  white-space: pre-wrap;
}

.custom-tooltip hr {
  border-top: 1px solid #000;
  margin: 8px 0;
}

.box-portfolio-icon {
  width: 48px;
  height: 24px;

  img {
    object-fit: contain;
  }
}

.img-visa {
  object-fit: contain;
  width: 64px;
  height: 32px;
}

.text-asterisk {
  margin-left: 0.4rem;
  color: var(--red-d08);
  font-size: 14px;
}

.list-summary-grid {
  .summary-grid {
    margin-bottom: 24px;
    &:last-child,
    &:only-child {
      margin-bottom: 0;
    }
  }
}

.flex-100 {
  flex: 0 100px;
}

.w-110 {
  width: 110px;
}

.mti-16 {
  margin-top: -16px;
}

.kpi-template-card-view {
  background-color: #fff !important;

  &:hover {
    cursor: default;
  }
}

.pl-50 {
  padding-left: 50px !important;
}

.card-view-box {
  position: relative;
  width: 100%;
  height: 100%;
  //height: 389px;
}

.card-view-empty {
  width: 100%;
  height: 100%;
  min-height: 389px;
  border: 1px solid #ccccd5;
  border-radius: 8px;
  padding: 24px;
}

.card-view {
  border: 1px solid #ccccd5;
  border-radius: 8px;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-flow: column;

  &.card-view-zoom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: none;
    border-radius: 0px;
    background-color: #fff;
    z-index: 999;
    animation: fadeInFromNone 0.2s ease-out;
  }
  .dls-chart {
    margin-top: auto;
  }
  &.card-view-out {
    animation: fadeInFromNone1 0.1s ease-out;
  }

  .card-view-header {
    display: flex;
    align-items: center;
    margin: -24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #ccccd5;
    padding: 16px 24px;
  }

  .dls-line-chart-legend {
    padding-left: 0 !important;
    padding-bottom: 24px;
  }
}

.body-card-view {
  .inside-infobar,
  .info-bar-main {
    z-index: 201;
  }

  .simplebar-scrollbar {
    opacity: 0;
  }

  .card-view.card-view-zoom {
    display: flex;
    flex-flow: column;

    .dls-chart {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-flow: column;
      canvas {
        flex: 1;
        overflow: hidden;
      }
    }
  }

  &.body-card-view-label {
    .dls-chart {
      position: relative;
      padding-top: 41px;
      .dls-line-chart-legend {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.card-view .dls-line-chart-legend:empty {
  display: none !important;
}

.mb-m24 {
  margin-bottom: -24px;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone1 {
  0% {
    position: fixed;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.link-portfolio:hover {
  text-decoration: none !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-m20 {
  margin-left: -20px !important;
}

.ml-m22 {
  margin-left: -22px !important;
}
.mt-14 {
  margin-top: 14px !important;
}

.custom-checkbox-grid {
  width: 2rem !important;
  padding: 0.2rem !important;

  input {
    width: 1.6rem;
    height: 1.6rem;
  }
  label {
    width: 100%;
    height: 20px;
  }
}
