// bubble
.bubble.bb-sz-sm {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
}

.btn.asterisk::before {
  position: absolute;
  display: block;
  content: '';
  background-color: #f72d1d;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  top: 2px;
  right: 2px;
}

.dls-popup.fluid {
  min-width: 60px;
}

// .dls-tooltip-container.error {
//   z-index: 309;
// }

.dls-time-picker {
  max-width: 100%;
}

.dls-numeric {
  &-container {
    position: relative;
    &.focus {
      .icon {
        color: #1f84f4;
      }
    }
  }
  &-arrow {
    position: absolute;
    top: 1px;
    height: calc(100% - 2px);
    right: 1px;
    z-index: 1;
    width: 44px;
    color: #8f8f8f;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 0 0 auto;
    text-align: center;
    cursor: pointer;
    border-radius: 0.4rem;

    &.sm {
      width: 34px;
    }
  }
}

.dls-dropdown-base-scroll-container .header {
  display: none;
}

.dls-popover-container.z-index-101 {
  z-index: 101;
}
