.header {
  border-top: 8px solid #ff6600;
  padding: 14px 24px;
  background-color: #fff;
}

.dls-attribute-search.small {
  width: 50rem;
}

body {
  overflow: hidden;
}

.portfolio-card-icon > img {
  height: 2rem;
}

.placeholder-bg-color {
  background-color: #d8d8d8;
}

.home-favorite-workflow {
  border-bottom: 1px solid #e3e3e8;
  padding-bottom: 2.4rem;
  @media (min-width: 1280px) {
    border-right: 1px solid #e3e3e8;
    border-bottom: 0;
    padding-bottom: 0;
  }
}
