.notifications {
  margin: 0;
  padding: 0;
  position: fixed;

  top: 97px;
  right: 2.4rem;
  z-index: 10000;
}

.notification {
  display: block;
  width: 400px;
  & + .notification {
    margin-top: 16px;
  }
  &-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 16px 32px 0 rgba(55, 58, 72, 0.24);
    border: 1px solid #e3e3e8;
    overflow: hidden;
    cursor: pointer;
    padding: 12px;

    .icon {
      color: var(--grey-l32);
    }
    .btn {
      align-items: center;
      justify-content: center;
      .icon {
        color: var(--grey-l16);
      }
      &:hover {
        background-color: transparent;
        .icon {
          color: var(--blue-d04);
        }
      }
    }
    &.hovered {
      &:hover {
        background-color: var(--blue-l40);
      }
    }
  }
  &-text {
    color: var(--grey-d20);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
  }
  &-enter {
    opacity: 0.01;
    transform: translate(0, -100%);
    overflow: hidden;
    transition: 500ms ease-in;
    max-height: 0;
  }

  &-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    max-height: 15rem;
  }

  &-exit {
    opacity: 1;
    transform: translate(0, 0);
    overflow: hidden;
    transition: 250ms ease-out;
    max-height: 15rem;
  }

  &-exit-active {
    opacity: 0.01;
    transform: translate(0, -100%);
    max-height: 0;
  }
}
