.absolute-top-left,
.absolute-top-right,
.absolute-bottom-left,
.absolute-bottom-right {
  position: absolute;
}
.absolute-top-left {
  top: 0;
  left: 0;
}
.absolute-top-right {
  top: 0;
  right: 0;
}
.absolute-bottom-left {
  bottom: 0;
  left: 0;
}
.absolute-bottom-right {
  bottom: 0;
  right: 0;
}

.mh-320 {
  min-height: 320px;
}

.h-320 {
  min-height: 320px;
}

.w-320 {
  width: 320px;
}
.mr-75 {
  margin-right: 7.5rem;
}
.t-7 {
  top: 0.7rem !important;
}
.maxw-100 {
  max-width: 100px;
}

.rounded-bottom-8 {
  border-bottom-right-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
}

.flex-break-row {
  flex-basis: 100%;
  height: 0;
}

.w-8 {
  width: 8% !important;
  max-width: 8% !important;
}
.w-12 {
  width: 12% !important;
  max-width: 12% !important;
}
.w-lg-8 {
  @media (min-width: 1280px) {
    width: 8% !important;
    max-width: 8% !important;
  }
}

.w-xl-12 {
  @media (min-width: 1280px) {
    width: 12% !important;
    max-width: 12% !important;
  }
}
.offset-lg-w-30 {
  @media (max-width: 1279px) {
    margin-left: 30%;
  }
}

.offset-md-w-30 {
  @media (max-width: 1023.98px) {
    margin-left: 30%;
  }
}

.offset-md-w-35 {
  @media (max-width: 1023.98px) {
    margin-left: 35%;
  }
}

.ml-xl-64 {
  @media (min-width: 1280px) {
    margin-left: 6.4rem;
  }
}

.h-100-main {
  height: calc(100vh - 73px);
}

.h-body {
  height: calc(100vh - 74px);
}

.fw-600 {
  font-weight: 600 !important;
}

.ls-5 {
  letter-spacing: 0.5px !important;
}

.divider-dashed {
  border-bottom: 1px dashed #e3e3e8;
}

.align-sub {
  vertical-align: sub;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resize-none {
  resize: none !important;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.pre-line {
  white-space: pre-line;
}

.btn-remove-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
}

.sortby-tablet-popup {
  z-index: 999 !important;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #e3e3e8;
}

.loading-md::before {
  width: 20px;
  height: 20px;
}
