.dls-popup-breadcrumb .dls-dropdown-base-container,
.breadcrumb {
  color: var(--grey);
  background-color: unset;
  padding: 0;

  .breadcrumb-list {
    list-style: none;

    padding: 0;
    margin: 0;

    .breadcrumb-item-resp {
      display: flex;
      align-items: center;
    }
  }

  .breadcrumb-item {
    position: relative;

    color: var(--grey);
    font-size: 1.4rem;
    line-height: 20px;

    display: block;
    float: left;

    margin: 0 12px 0 0;
    padding: 0 0 0 28px;

    &:hover,
    &:focus {
      background: none;

      .breadcrumb-item-text {
        color: var(--blue-l08);
        text-decoration: underline;
      }
    }

    &:last-child {
      font-weight: 500;

      &:hover,
      &:focus {
        .breadcrumb-item-text {
          color: var(--grey);
          text-decoration: none;
          cursor: text;
        }
      }
    }

    &:first-child {
      padding: 0;

      &::before {
        display: none;
      }
    }

    &::before {
      content: '\e90b';
      color: var(--grey-l32);
      font-family: 'icomoon' !important;
      text-align: center;
      line-height: 20px;

      width: 16px;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    .breadcrumb-item-text {
      cursor: pointer;

      display: inline-block;

      a {
        color: inherit;
      }
    }
  }
}

.dls-popup-breadcrumb .dls-dropdown-base-container {
  .breadcrumb-item {
    font-weight: unset !important;
    padding: 0 !important;

    &:hover,
    &:focus {
      background: none !important;

      .breadcrumb-item-text {
        color: var(--blue-l08) !important;
      }
    }
  }
}
