.react-calendar {
  .react-calendar__viewContainer {
    .react-calendar__month-view {
      .react-calendar__month-view__days {
        .react-calendar__tile {
          &.react-calendar__tile--hasActive,
          &.react-calendar__tile--active {
            &:disabled {
              &.react-calendar__tile--now {
                abbr {
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }
}
