.dls-grid {
  &-body--load-more {
    height: calc(100vh - 253px);
  }

  & &-head {
    background: var(--white);

    th {
      background: transparent;
    }
  }

  &.grid-checkall--cus {
    .dls-grid-head {
      th {
        input.indeterminate:not(.indeterminate-cus)
          ~ .dls-checkbox-label::after {
          content: '\e93e' !important;
        }
        .dls-checkbox {
          position: absolute;
          top: 50%;
          left: calc(50% - 1px);
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
    }
  }
}

.grid-has-control {
  > tbody > tr > td {
    padding-top: 12px;
    padding-bottom: 8px;
    &.control {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
.grid-has-tooltip {
  > tbody > tr > td {
    > .dls-popper-trigger {
      display: flex;
    }
  }

  &.center > tbody > tr > td {
    > .dls-popper-trigger {
      justify-content: center;
    }
  }
}
