.horizontal-container.level-2 {
  .nav-tabs.bg-inherit .nav-link.active {
    background-color: inherit !important;
  }
  .scroll__level-2 {
    justify-content: flex-start;
    width: 3rem;
    &.scroll__right {
      justify-content: flex-end;
    }
  }
  .show-scroll-left {
    margin-left: 3rem;
  }
  .show-scroll-right {
    margin-right: 3rem;
  }
}
