.list-cards {
  .list-cards__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    margin-bottom: 0;

    .dls-checkbox,
    .dls-radio {
      min-height: 2.4rem;
    }

    .dls-radio-input + .dls-radio-label:before,
    .dls-checkbox-input ~ .dls-checkbox-label::before {
      width: 20px;
      height: 20px;
    }
    .dls-radio-input.checked-style + .dls-radio-label::before {
      padding: 0.1rem !important;
    }

    .dls-checkbox-input ~ .dls-checkbox-label::after {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }
    .dls-radio-input:not(.checked-style) + .dls-radio-label::after {
      width: 0.6rem;
      height: 0.6rem;
      top: 0.9rem;
      left: -1.7rem;
    }
  }

  &.list-cards--selectable {
    .list-cards__item {
      cursor: pointer;

      &:hover {
        background-color: var(--light-l20) !important;

        .dls-radio-input:not(:checked) + .dls-radio-label:before,
        .dls-checkbox-input:not(:checked) ~ .dls-checkbox-label::before {
          color: var(--blue);
          border-color: var(--blue);
        }
      }
    }
  }

  &.list-cards--single {
    .list-cards__item {
      border-radius: 0.8rem;
      border: solid 1px var(--light-l12);
      margin-top: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &.list-cards--multi {
    border-radius: 0.8rem;
    border: solid 1px var(--light-l12);

    .list-cards__item {
      border-top: solid 1px var(--light-l12);

      &:first-child {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        border-top: none;
      }

      &:last-child {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }
  }
}
