.masked-textbox-size-small {
  .dls-masked-textbox {
    height: 28px;

    .text-field-container {
      flex: 1 0 calc(100% - 32px);
      max-width: calc(100% - 32px);

      input {
        padding: 0 0 0 12px;
        line-height: 20px;
        opacity: 1;
      }
    }
  }
}
