.activity-modal .dls-modal-body.modal-body {
  padding: 0 !important;
  overflow: auto;
}
.custom-modal .dls-modal-body.modal-body {
  height: calc(100vh - 12.9rem);
}

.dls-modal-root {
  .dls-modal-br-header .dls-modal-header {
    min-height: 6rem;
  }
  .dls-modal-br-footer .dls-modal-footer {
    min-height: 6.9rem;
  }
}
