.content-expand {
  .content-expand__content {
    height: 100%;
    border-top: 1px solid var(--light-l12);
  }

  &:not(.has-expanded) {
    .content-expand__content:empty {
      border-top: none;
    }
  }

  &.has-expanded {
    position: relative;
    height: 100%;

    &:not(.expanded) .content-expand__instruction {
      height: 100%;
      padding-bottom: 2.4rem;
    }
    &.expanded {
      .content-expand__instruction,
      .content-expand__expanded {
        height: 50% !important;
      }
    }

    .content-expand__expanded {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: var(--white);

      transition: height 300ms;

      &-btn {
        position: absolute;
        top: -1.4rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--white);
          border: 1px solid var(--light-l12);

          &:hover {
            background-color: var(--light-l16);
          }
        }
      }
    }
  }
}
