.workflow-creation {
  display: flex;
  height: 100%;
  // min-height: 100%;

  &__nav {
    position: relative;
    width: 314px;
    height: 100%;
    background-color: var(--light-l20);
    border-right: 1px solid var(--light-l12);
    transition-property: width min-width;
    transition-duration: 300ms;
    z-index: 100;

    .nav-collapse-expand {
      position: absolute;
      top: 24px;
      right: -15px;
      border-radius: 0.4rem;
      background-color: var(--white);
      z-index: 2;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-l12);
      }
    }

    .nav-step {
      position: relative;
      padding-bottom: 1.6rem;

      &-inner {
        position: relative;
        display: flex;
        padding: 0.8rem;
        cursor: default;
      }

      &:not(:last-child):after {
        content: '';
        position: absolute;
        top: 24px;
        left: 23px;
        height: 100%;
        width: 2px;
        z-index: 1;
        background-color: var(--grey-l40);
      }

      &-counter {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 32px;
        width: 32px;

        border-radius: 50%;
        color: var(--white);
        background-color: var(--grey-l40);

        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      &-info {
        margin-left: 1.6rem;
        flex: 1;

        transition-property: margin-left;
        transition-duration: 300ms;

        &__title {
          margin-top: 0.6rem;
          color: var(--grey);
          font-weight: 600;
        }

        &__description {
          margin-top: 0.4rem;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }
      }

      &--done {
        & .nav-step-counter {
          background-color: var(--green);
        }

        &::after {
          background-color: var(--green) !important;
        }
      }

      &--selected {
        & .nav-step-counter {
          position: relative;

          &::after {
            content: '';
            position: absolute;

            top: 2px;
            left: 2px;
            min-height: 28px;
            max-height: 28px;
            min-width: 28px;
            max-width: 28px;

            border: 2px solid var(--white);
            border-radius: 50%;
          }
        }

        & .nav-step-info {
          .nav-step-info__title {
            color: var(--grey-d20);
          }
        }
      }

      &--error {
        & .nav-step-counter {
          background-color: var(--red);
        }

        &::after {
          background-color: var(--red) !important;
        }
      }

      &--inprogress {
        & .nav-step-counter {
          background-color: var(--blue);
        }

        &::after {
          background-color: var(--grey-l40) !important;
        }
      }

      &--last-step {
        &::after {
          background-color: var(--grey-l40) !important;
        }
      }

      &--hovered {
        .nav-step-inner {
          cursor: pointer;

          &:hover {
            background-color: #eeeef1;
            border-radius: 4px;
          }
        }
      }

      &--not-allowed {
        .nav-step-inner {
          cursor: not-allowed;
        }
      }
    }

    &--collapsed {
      width: 80px;

      .nav-step {
        &-info {
          position: absolute;
          visibility: hidden;
          margin-left: -234px;
        }

        &-inner {
          width: 48px;
          height: 48px;
        }
      }
    }

    &:not(.workflow-creation__nav--collapsed) {
      @media (min-width: 1280px) and (max-width: 1350px) {
        & + .workflow-creation__content {
          .col-has-sidebar {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  &__content {
    flex: 1;
    height: 100%;
  }

  @media screen and (max-width: 1080px) {
    position: relative;
    height: 100%;
    &__nav {
      position: absolute;
      height: 100%;
    }

    &__content {
      margin-left: 80px;
    }
  }
}

.DropdownList__tooltip-item-trigger {
  max-height: 52px;

  .item {
    display: block;
    width: 100%;
    max-height: 52px;
  }
}

.DropdownList__tooltip-container {
  &.DropdownList__tooltip-container--with-field-tooltip {
    &[data-popper-placement='left'],
    &[data-popper-placement='left-start'],
    &[data-popper-placement='left-end'] {
      margin-right: 22px !important;
    }

    &[data-popper-placement='right'],
    &[data-popper-placement='right-start'],
    &[data-popper-placement='right-end'] {
      margin-left: 22px !important;
    }
  }
}
